:root {
    --bg-color: #000;
    --white: #ffffff;
    --primary: #00BDF0;
    --secondary: #001c2c;
    --green: #039f0d;
    --red: #f00;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--bg-color);
}

.header {
    background-color: var(--secondary);
}

.navbar-nav .nav-item a {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #f2f0eb !important;
    line-height: 44px;
    position: relative;
}

.navbar-nav .active a::before {
    content: '';
    position: absolute;
    width: 81%;
    height: 1px;
    background-color: var(--primary);
    bottom: 18px;
    left: 8px;
}

.navbar-nav .nav-item:last-child {
    margin-left: 1rem;
}

.btn-border {
    border-radius: 11px;
    background: transparent;
    border: 5px solid #00c7fb;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.btn-border:hover {
    color: #fff;
}

.btn-border svg {
    width: 33px;
    margin-right: 6px;
}

.btn-filled {
    border-radius: 11px;
    background: var(--primary);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #010e43;
    padding: 1rem 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar {
    padding: 1rem 0;
}

.banner {
    background: var(--bg-color);
}

.banner-image-logo img {
    width: 100%;
}

.btn-view {
    border-radius: 12px;
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #00c7fb, #1f44dd, #00c7fb);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #000 inset;
    font-weight: normal;
    font-size: 20px;
    line-height: 40.61px;
    text-align: center;
    color: #fff;
    font-family: Lora;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0.7rem 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-transform: uppercase;
}

.btn-view:hover {
    color: #fff;
    box-shadow: 2px 1000px 1px #000 inset;
}

.btn-view span svg {
    width: 20px;
}

.btn-arro-svg {
    border: 2px solid var(--primary);
    border-radius: 14px;
    border-top-left-radius: 0px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 0px;
    padding: 19px 22px;
    margin-right: -19px;
}

.spacer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.btn-text {
    padding: 0 0.5rem;
}

.second-btn-svg {
    margin-left: -19px;
    padding-right: 13px;
    margin-right: 10px;
    border-top-left-radius: 14px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 14px;
}

.banner {
    position: relative;
}

.bg-img-1 img {
    position: absolute;
    bottom: 43px;
    width: 28%;
}

.pools-section {
    flex-wrap: wrap;
}

.pools-section>div:nth-child(2) {
    border-radius: 0;
}

.bg-line-img {
    background: var(--bg-color);
    margin-top: 2.6rem;
}

.bg-line-img img {
    width: 100%;
}

.bg-img-2 img {
    position: absolute;
    right: 0;
    bottom: 9rem;
    width: 20%;
}

.bg-img-3 img {
    bottom: -5rem;
}

.live-pool-prog {
    padding: 1rem 1.5rem;
    margin-left: -19px;
    margin-right: 9px;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(3, 116, 242, 1) 19%, rgba(0, 198, 250, 1) 51%);
}

.btn-view>div {
    display: inline-block;
}

.pools-live .btn-view {
    padding: 0.3rem 1rem;
}

.pools-live {
    position: relative;
}

.bg-eclip-1 img {
    top: -4rem;
    left: -4rem;
    width: 34%;
    position: absolute;
}

.pools-section-1 {
    border-radius: 5px 65px;
    background: transparent;
    border: 3px solid #00c6fa;
    width: 31%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
}

.pools-section {
    margin-top: 7rem;
    /* padding-bottom: 3rem; */
}

.pools-sec-logo svg {
    margin-bottom: -3rem;
    width: 40%;
    margin-top: -5.5rem;
}

.pool-name {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #fff;
    line-height: 46px;
}

.in-days {
    color: #fff;
    border: solid 1.5px var(--primary);
    border-radius: 20px;
    background-color: #00c6fa26;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    padding: 6px 12px;
    color: #fff;
}

.in-days svg {
    margin-right: 3px;
}

.in-days:hover {
    color: #fff;
}

.pool-section-head {
    padding: 4px 23px 6px 23px;
    border-bottom: 2px solid #00c6fa;
}

.pool-sec-body {
    padding: 0.8rem 0.6rem 3rem 0.6rem;
}

.text {
    font-family: Lora;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 20.61px;
    text-align: left;
    color: #fff;
}

.pool-sociel-icons {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pool-sociel-icons>div {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.pool-sociel-icons>div:first-child {
    margin-left: 0;
}

.total-raise {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
}

.primary-color {
    color: var(--primary) !important;
}

.progress-title {
    padding-bottom: 4px;
    padding-top: 0.8rem;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #fff;
}

.progress-rank p {
    font-weight: normal;
    margin-top: 3px;
    font-size: 14px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #bfbfbf;
}

.progress {
    height: 12px;
    border-radius: 15px;
    background: #00556b;
}

.progress-bar {
    border-radius: 15px;
    background: #00c6fa;
    border: 1px solid #00c6fa;
}

.progress-percentage {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.07em;
    color: #00c6fa;
    padding-bottom: 2px;
    margin: 0;
    align-self: flex-end;
}

.bg-eclip-2 img {
    position: absolute;
    right: 17rem;
    width: 28%;
    bottom: -8rem;
}

.pools-section-detail {
    border-radius: 18px;
    background: transparent;
    border: 3px solid #00c6fa;
}

.pool-name-detail {
    font-weight: normal;
    font-size: 40px;
    color: #fff;
    margin-left: 0.5rem;
    margin-right: 3rem;
}

.pool-detail-logo {
    margin-top: -10px;
    margin-bottom: -10px;
}

.ariadane .text {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 33.61px;
    text-align: left;
    color: #fff;
}

.ariadane .total-raise {
    font-weight: bold;
    font-size: 30px;
}

.normal {
    font-weight: normal !important;
}

.access-table {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.detail-table {
    display: flex;
}

.detail-table>div {
    padding: 1rem 1.8rem 1rem 1rem;
    border: 1px solid #00c6fa;
}

.ariadane .pool-section-head {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ariadane .pool-sec-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ariadane .progress {
    height: 22px;
    border-radius: 15px;
}

.carosel-eclip img {
    top: 7rem;
    right: 4rem;
    left: inherit;
}

.dot-1 svg {
    width: 6px;
    position: absolute;
    top: 1.7rem;
    right: 27rem;
}

.dot-2 svg {
    position: absolute;
    width: 6px;
    top: 17.5rem;
    left: 28rem;
}

.dot-3 svg {
    position: absolute;
    width: 6px;
    bottom: 23.5rem;
    right: 11rem;
}

.dot-4 svg {
    position: absolute;
    bottom: 13rem;
    width: 6px;
    right: 3.5rem;
}

.got-to-pool {
    border-radius: 12px;
    color: #fff;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 2px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #00c7fb, #1f44dd);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #000 inset;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-family: Lora;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #fff;
    padding: 0.5rem 4rem;
}

.pool-sec-footer {
    padding: 1.5rem 0;
    margin-top: 1rem;
    border-top: 2px solid #00caff
}

.got-to-pool:hover {
    color: #fff;
}

.close-pool-detail {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.carousel-control-next,
.carousel-control-prev {
    display: block !important;
    opacity: 1!important;
    width: 40px;
    height: 34px;
    background: #00c6fa2e;
    border-radius: 10px;
}

.carousel-control-prev-icon {
    background-image: url('../images/left.png');
    z-index: 1 !important;
    width: 10px;
    width: 14px;
    height: 24px;
    margin-top: 5px;
}

.carousel-control-next-icon {
    background-image: url('../images/Icon\ ionic-ios-arrow-back.png');
    width: 10px;
    width: 14px;
    height: 24px;
    margin-top: 5px;
}

.carousel-control-prev {
    left: 57rem;
}

.carousel-control-next {
    right: 6rem;
}

.arro-up svg {
    width: 47px;
    position: absolute;
    right: 1.7%;
    bottom: 4rem;
}

.intro-heading {
    font-family: Lora;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.07em;
    line-height: 74.61px;
    text-align: left;
    color: #fff;
}

.font-24 {
    font-size: 24px !important;
}

.font-22 {
    font-size: 22px !important;
}

.intro-video-bg svg {
    opacity: 0.4;
    width: 18rem;
    position: absolute;
    right: 5px;
    z-index: -1;
    top: 4rem;
}

.intro-video {
    position: relative;
}

.intro-video-bg-1 svg {
    position: absolute;
    top: 0;
    width: 100px;
}

.intro-video-bg-2 svg {
    position: absolute;
    bottom: -11.5rem;
    z-index: -1;
    width: 16rem;
    left: 5%;
}

.intro-video-bg-3 svg {
    position: absolute;
    right: 7rem;
    bottom: -9rem;
    width: 9rem;
    opacity: 0.4;
}

.portfolio {
    position: relative;
}

.portfolio-icons {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
}

.portfolio-icons>div {
    width: 18%;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
}

.portfolio-icons>div:nth-child(2n) {
    margin-top: 2.4rem;
}

.portfolio-icons>div img {
    width: 100%;
}

.portb-banner-1 img {
    position: absolute;
    width: 38%;
    bottom: 0;
    left: 0;
}

.portb-banner-2 img {
    position: absolute;
    width: 38%;
    bottom: 0;
    right: 0;
}

.support-chain {
    position: relative;
    overflow: hidden;
    background: #fff;
}

.black-heading {
    font-family: Lora;
    font-weight: normal;
    font-size: 39px;
    letter-spacing: 0.07em;
    line-height: 74.61px;
    text-align: left;
    color: #011321;
}

.chain-img img {
    width: 100%;
}

.chain-1 svg {
    position: absolute;
    width: 12rem;
    top: -107px;
    left: -5%;
}

.chain-2 svg {
    position: absolute;
    right: -8%;
    width: 13rem;
    top: 0;
}

.uppercase {
    text-transform: uppercase;
}

.partner-icons {
    display: flex;
    flex-wrap: wrap;
}

.partner-row {
    display: flex;
    justify-content: end;
    margin-top: -81px;
}

.partner-row>div {
    margin-left: -2.2rem;
    width: 20.6%;
    margin-right: -2.2rem;
}

.partner-row>div:last-child {
    margin-right: 0;
}

.partner-icons>div:first-child {
    margin-left: 0;
}

.partner-row>div img {
    width: 100%;
}

.partner-icons>div {
    margin-left: -2.2rem;
    width: 20.8%;
    margin-right: -2.2rem;
}

.partner-icons>div img {
    width: 100%;
}

.partners {
    position: relative;
}

.part-banner-1 img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
}

.part-banner-2 img {
    position: absolute;
    right: 0;
    top: 0;
    width: 12%;
}

.faq-img img {
    width: 100%;
}

.faq .card {
    margin-bottom: 0.7rem;
    border-radius: 26px;
    background: linear-gradient(90deg, rgba(1, 19, 33, 1) 19%, rgba(1, 14, 67, 1) 62%);
}

.faq .card .card-header {
    padding: 0rem 0.7rem;
}

.faq .card .card-body {
    font-family: Lora;
    font-weight: normal;
    font-size: 16px;
    padding: 0px 1rem 1rem 1.5rem;
    letter-spacing: 0.1em;
    line-height: 27.61px;
    text-align: left;
    color: #fff;
    margin-top: -7px;
}

.faq .card .card-header h5 button {
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #fff;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.faq .card .card-header h5 button svg {
    width: 25px;
}

.faq .card .card-header h5 button .svg-wrong svg {
    width: 20px !important;
}

.btn-link .svg-right {
    display: none;
}

.btn-link .svg-wrong {
    display: block;
}

.collapsed .svg-right {
    display: block;
}

.collapsed .svg-wrong {
    display: none;
}

.faq .card .card-header h5 button:focus {
    outline: none;
    box-shadow: none;
}

.faq-eclip img {
    position: absolute;
    width: 30px;
    bottom: 5rem;
    left: 6rem;
}

.faq {
    padding-bottom: 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}

.subscribe {
    position: relative;
    background-color: #011321;
}

.pool-subscribe {
    clip-path: polygon(0 26%, 100% 0, 100% 100%, 0 100%);
    padding-top: 5rem;
}

.subcribe-path img {
    width: 100%;
    position: absolute;
    top: -6rem;
}

.bg-diffrent {
    background-color: #011321;
}

.footer {
    background-color: #011321;
}

.get-more {
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
    margin: 0;
}

.subscribe-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 0.02em;
    line-height: 55px;
    text-align: left;
    color: #fff;
    padding-bottom: 1rem;
}

.subs-email img {
    width: 100%;
}

.subscribe-input {
    position: relative;
}

.subscribe-input .form-control {
    border-radius: 48px;
    background: #fff;
    border: 1px solid #707070;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: capitalize;
    color: #000;
    padding: 2rem 1.6rem;
}

.subscribe-input .form-control::placeholder {
    color: #000000cc;
}

.input-subs-badge {
    background: #011321;
    opacity: 0.91;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    padding: 0.3rem 2rem;
    border-radius: 32px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.05em;
}

.input-subs-badge svg {
    margin-right: -10px;
    margin-bottom: 6px;
}

.subs-eclip img {
    position: absolute;
    right: 4rem;
    top: -1rem;
    width: 33px;
}

.footer {
    position: relative;
    border-top: 1px solid #707070;
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-logo {
    width: 70%;
}

.footer-heading {
    font-family: Roboto-Light;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    color: #fff;
    position: relative;
    padding-bottom: 3px;
}

.footer-heading::before {
    width: 88px;
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    background: var(--primary);
}

.footer-link-icon {
    display: flex;
}

.footer-link-icon>div {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.footer-link-icon>div svg {
    width: 36px;
}

.footer-link-icon>div:first-child {
    margin-left: 0;
}

.about-us-footer-heading {
    position: relative;
}

.about-us-link::before {
    position: absolute;
    content: 'About Us ';
    font-weight: normal;
    font-size: 31px;
    text-transform: uppercase;
    color: #00c7fb;
    transform: rotate( 269deg);
    left: -3rem;
    top: 4rem;
}

.about-us-link>ul li {
    list-style: none;
}

.about-us-link {
    padding-left: 3rem;
}

.about-us-link ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    color: #fff;
}

.footer-sociel-icon {
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.footer-sociel-contact {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #fff;
    margin: 0;
    padding-left: 1rem;
}

.footer-side-poly img {
    position: absolute;
    width: 110px;
    top: 0;
    bottom: 0;
    left: 0;
}

.footer-side-poly-2 img {
    position: absolute;
    width: 39px;
    top: 0;
    bottom: 0;
    transform: translateY(16%);
    right: 0;
}

.footer-bg-1 img {
    position: absolute;
    left: 21rem;
    width: 27px;
    top: 14px;
}

.footer-bg-2 img {
    position: absolute;
    left: 36rem;
    width: 27px;
    bottom: 14px;
}

.footer-dot img {
    position: absolute;
    right: 0;
    top: -52px;
    width: 10%;
}


/* all pool page design */

.pool-page .pools-section-1 {
    margin-bottom: 5rem;
}

.pool-heading {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.03em;
    line-height: 40.61px;
    text-align: center;
    color: #fff;
}

.search-input {
    border-radius: 12px;
    width: 100%;
    background: transparent;
    border: 2px solid #00c6fa;
    font-weight: 500;
    font-size: 24px;
    color: #616161;
    padding: 1rem 1rem 1rem 4rem;
    text-transform: capitalize;
}

.search-input-icon svg {
    left: 20px;
    position: absolute;
    top: 14px;
    width: 35px;
}

.search-section {
    padding-top: 1.4rem;
    padding-bottom: 2rem;
}

.pool-bg-1 img {
    top: 12rem;
    left: 20rem;
    width: 17%;
    position: absolute;
}

.pool-subs img {
    top: inherit;
    bottom: -111px;
}

.all-pool-texture-bg {
    background-image: url('../images/all-pool-texure-bg.png');
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pool-filter-menu .btn-secondary {
    background: transparent;
    border: none;
}

.pool-filter-menu .btn-secondary::before {
    border-top: 0em solid transparent;
    border-right: 0em solid;
}

.pool-filter-menu .dropdown-menu {
    border-radius: 18px;
    background: #011321;
    border: 1px solid #707070;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
}

.pool-filter-menu .dropdown-menu .dropdown-item {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 40.61px;
    color: #f2f0eb;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.pool-filter-menu .dropdown-menu .dropdown-item:focus,
.dropdown-item:hover {
    background: var(--primary);
    color: var(--bg-color) !important;
}

.pool-filter-menu .btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
    background: transparent;
    border-color: transparent;
}


/* pool detail page styling */

.pool-detail-page {
    background: #21333b;
    /* overflow: hidden; */
}

.pools-section-detail {
    background-color: #000
}

.pool-detail-page .pool-subscribe {
    margin-top: -120px;
}

.pool-detail-page .pool-subs img {
    bottom: 5px;
    z-index: 1;
}

.pool-detail-page .pools-section-detail {
    padding-bottom: 10rem;
    border: 1px solid var(--primary);
}

.pool-detail-page .pool-sociel-icons div svg {
    width: 35px;
}

.pool-detail-page .pool-sociel-icons>div {
    margin-left: 0.3rem;
    z-index: 1;
    cursor: pointer;
    margin-right: 0.3rem;
}

.pool-detail-page .pool-name-detail {
    margin-right: 0;
    font-size: 30px;
    margin-left: 0;
}

.pool-detail-page .pool-detail-logo svg {
    margin-right: -0.5rem;
    margin-left: -1rem;
}

.pool-detail-page .pool-section-head {
    border-bottom: none;
}

.pool-detail-page .pool-sec-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.detail-video-play {
    padding: 0.7rem;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(5, 5, 6, 0.96) 30.85%, rgba(0, 170, 255, 0.97) 100%);
    border: 1px solid #00bdf0;
    /* background: linear-gradient(0deg, rgba(7, 5, 5, 1) 28%, rgba(0, 170, 255, 1) 100%); */
}

.inner-video-play {
    position: relative;
    height: 100%;
    border-radius: 19px;
    background: linear-gradient(#21333b 0%, #21333b 100%);
    border: 1px solid #21333b;
}

.inner-video-play svg {
    width: 42px;
    margin: 0;
    margin-left: -8px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.detail-video-play-section>div>div {
    flex: 1;
}

.hex-code {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: -10px;
    color: #00c6fa;
    padding-bottom: 5px
}

.color-white {
    color: #fff !important;
}

.para {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.07em;
}

.font-18 {
    font-size: 18px !important;
}

.allo-heading {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #fff;
    padding-top: 2rem;
}

.flex-1 {
    flex: 1 !important;
}

.your-token {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #fff;
}

.black-inner {
    border-radius: 19px;
    background: #000;
    border: 1px solid #00c6fa;
}

.btn-claim-border {
    background: #000;
    border: 1px solid #00c6fa;
    border-radius: 40px;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.07em;
    color: #9a9a9a;
    opacity: 0.8;
    font-weight: bold;
    padding: 0.8rem 2rem;
    width: 15rem;
}

.btn-claim-border:hover {
    color: #9a9a9a !important;
}

.token-container {
    padding: 1rem;
    border-bottom: 1px solid var(--primary);
}

.black-inner>div:last-child {
    border-bottom: none;
}

.filled-claim {
    background: #00c6fa !important;
    border: 1px solid #00c6fa !important;
    color: #000 !important;
    opacity: 1;
}

.filled-claim:hover {
    color: #000 !important;
}

.xyz {
    padding: 0.2rem 1rem;
}

.xyz-para {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #fff;
    margin-bottom: 6px;
}

.xyz-head {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #00c6fa;
}

.softcap-contain {
    padding: 0.67rem;
    padding-left: 1.5rem;
    position: relative;
}

.softcap-contain::after {
    position: absolute;
    content: '';
    width: 1px;
    top: 2rem;
    height: 92%;
    left: 5px;
    background: var(--primary);
}

.xyz-1>div:last-child::after {
    display: none;
}

.softcap-contain::before {
    content: url('../images/xyz-poly.png');
    top: 17px;
    position: absolute;
    left: -3px;
}

.oposite-gredient {
    background: linear-gradient(#000 0%, rgba(21, 52, 67, 0.64) 52.72%, #00a7f9 100%);
}

.height-100 {
    height: 100% !important;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal !important;
}

.vesting .detail-video-play {
    border-radius: 18px;
    background: linear-gradient( 90deg, rgba(18, 20, 21, 0.84) 55.21%, rgba(0, 170, 255, 0.9) 100%);
    border: 2px solid #00c6fa;
}

.table-heading {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #fff;
}

.table-head {
    padding: 0.3rem 1rem 0.5rem 1rem;
}

.table-body .row {
    padding: 0.9rem 1px 9px 1px;
    border-bottom: 2px solid #00c6fa;
}

.table-body .row>div {
    align-self: center;
}

.font-16 {
    font-size: 16px !important;
}

.btn-swap-filled {
    border-radius: 24px;
    background: #00bdf0;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.07em;
    color: #000;
    padding: 0.4rem 2rem;
    width: 100%;
    margin-top: -4px;
}

.font-19 {
    font-size: 19px !important;
}

.important-link .detail-video-play {
    border: 1px solid var(--primary);
    background: linear-gradient( 286deg, rgba(18, 20, 21, 0.84) 55.21%, rgba(0, 170, 255, 0.9) 100%);
}

.important-link .detail-video-play .black-inner {
    padding: 0rem 1.5rem;
}

.impo-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.impo-link::before {
    position: absolute;
    left: -17px;
    top: 20px;
    content: url('../images/impo-poly.png');
}

.impo-link h2 {
    line-height: 30px;
}

.audit .black-inner {
    padding: 1rem 1rem 5rem 1rem;
}

.desclaimer .black-inner {
    padding: 1.5rem;
}

.desclaimer .impo-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pool-detail-bg {
    position: absolute;
    width: 81%;
    right: -104px;
    top: -38px;
}

.overflow-hidden {
    overflow: hidden !important;
}

.token-rank {
    font-weight: 500;
    font-size: 22px;
    color: var(--primary);
    line-height: 34px;
}

.token-rang-copy {
    position: absolute;
}

.token-rang-copy svg {
    margin-left: 5px;
}

.price-reward {
    margin-top: 1.5rem;
}

.price-reward .pool-detail-logo svg {
    width: 100px;
}

.price-reward-box {
    background: var(--primary);
    padding: 0.5rem;
    border-radius: 25px;
}

.font-40 {
    font-size: 40px !important;
}

.weigt-500 {
    font-weight: 500 !important;
}

.reward-section-1 {
    padding: 0.5rem 2rem 1rem 2rem;
    border-bottom: 2px solid var(--primary);
}

.border-none {
    border: none !important;
}

.start-token {
    display: flex;
    border-radius: 14px;
    background: #00c6fa;
    border: 2px solid #00c6fa;
}

.start-token>div {
    padding: 1rem 1.5rem 0.5rem;
    z-index: 1;
}

.icon-btn-border {
    background: #000;
    z-index: 1;
    padding-left: 0.5rem !important;
    padding-right: 2rem !important;
}

.icon-btn-border span svg {
    width: 67px;
    height: 67px;
}

.icon-btn-border {
    font-weight: bold;
    font-size: 35px;
    color: #00c6fa;
}

.start-token h3 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #000;
}

.silver {
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    color: #00c6fa;
    margin-bottom: 3px;
}

.start-unit {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #00c6fa;
}

.start-meterial svg {
    width: 25px;
}

.silver-dot-line {
    position: relative;
    display: inline-block;
}

.start-meterial .silver-dot-line::before {
    left: 19px;
    position: absolute;
    content: '';
    top: 20px;
    width: 20rem;
    height: 2px;
    background: var(--primary);
}

.start-meterial-container .start-meterial:last-child .silver-dot-line::before {
    display: none;
}

.start-meterial-container {
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.Total-stack {
    border-radius: 14px;
    background: #000;
    border: 2px solid #00c6fa;
}

.Total-stack>div>div {
    z-index: 1;
}

.amount-dolor {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #00c6fa;
}

.harvest {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 0.5rem 3.5rem;
    color: #00c6fa;
    border-radius: 14px;
    background: #003D4E;
    border: 3px solid #003D4E;
}

.harvest:hover {
    color: #00c6fa;
}

.custom-line {
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.total-max-counting>div {
    border-radius: 14px;
    background: #00c6fa;
    border: 2px solid #00c6fa;
}

.total-max-counting {
    width: 50%;
}

.total-max-count {
    background: #000;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 31px;
    text-align: left;
    color: #00c6fa;
    border-radius: 14px 0px 0px 14px;
    padding: 0.6rem 1rem;
    flex: 1;
}

.total-max {
    font-weight: 500;
    flex: 1;
    font-size: 31px;
    text-align: center;
    color: #000;
    padding: 0.6rem 1rem;
}

.presale-detail-form-section {
    padding: 2.4rem 2rem;
}

.presale-form .form-lable {
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    color: #fff;
    margin-top: 2.5rem;
    z-index: 1;
}

.presale-form .form-control {
    font-weight: 500;
    font-size: 18px;
    height: 55px;
    border-radius: 4px !important;
    background: transparent;
    border: 1px solid var(--primary);
    padding: 1rem;
    color: var(--primary);
    z-index: 1000 !important;
}

.input-group-append {
    display: none !important;
}

.datepicker .form-control::placeholder {
    font-size: 18px;
    color: var(--primary);
}

.next-form-btn {
    border-radius: 3px;
    background: var(--primary);
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.09em;
    line-height: 39px;
    color: #000;
    text-transform: uppercase;
    padding: 0.8rem 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.gj-picker {
    border-radius: 5px !important;
    background: #00bef0 !important;
}

.back-border-btn {
    background: black;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.extra-texture img {
    position: absolute;
    left: 7rem;
    width: 150px;
}

.extra-texture1 img {
    position: absolute;
    right: 0;
    width: 100px;
}

.extra-texture2 {
    position: absolute;
    left: 36rem;
}

.vote-now {
    border: 1px solid #00bdf0;
    padding: 0.8rem;
    position: relative;
    overflow: hidden;
    border-radius: 25px 0px 0px 25px;
}

.active-vote-now {
    border-radius: 25px;
    border: 3px solid #00bdf0;
}

.empty-vote-box {
    margin-right: 1rem;
    width: 35%;
    border-radius: 15px;
    background: #00c6fa;
}

.vote-now-div>div {
    z-index: 1;
}

.text-vote-box {
    width: 65%;
}

.texture img {
    position: absolute;
    width: 102%;
    left: -6px;
    top: -7px;
}

.text-vote-box>p {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 23.61px;
    text-align: left;
    color: #fff;
}

.yes-switch .text-switch {
    font-weight: normal;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    align-self: center;
    border-left: none;
    padding: 0.3rem 2rem;
    border-radius: 8px;
    margin-left: -26px;
}

.yes-switch {
    background-image: url('../images/Union\ 16.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.yes-switch .play-switch {
    /* border: 2px solid #039f0d; */
    border-right: none;
    border-radius: 58px;
    border-top-left-radius: 58px;
    border-top-right-radius: 58px;
    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
    padding: 5px;
}

.yes-switch .play-switch svg {
    width: 70px;
    height: 70px;
}

.no-switch {
    background-image: url('../images/Union\ 17.png');
}

.no-switch .text-switch {
    margin-left: -14px;
    margin-right: -24.4px;
}

.voting-switches {
    margin-left: 4rem;
}

.voting-switches h2 {
    font-family: Montserrat;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 30px;
}

.visit-pool {
    font-family: Lora;
    font-weight: 500;
    font-size: 28px;
    position: relative;
    letter-spacing: 0.07em;
    color: #00c6fa;
    border: 3px solid #00c6fa;
    border-radius: 9px;
    text-transform: uppercase;
    padding: 0.4rem 0rem;
    text-align: center;
    margin-top: 1rem;
}

.visit-pool::before {
    top: -3px;
    height: 110%;
    width: 100px;
    content: '';
    left: -3px;
    position: absolute;
    border-radius: 7px;
    background: linear-gradient( 90deg, rgba(71, 78, 241, 1) 2%, rgba(0, 198, 250, 1) 51%);
}

.go-for-vote {
    width: 10%;
    position: relative;
    /* border: 1px solid blue; */
    /* background: blue; */
    background-image: url('../images/Path\ 6368.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.vote-percentage {
    width: 89%;
    margin-right: 0.6rem;
    position: relative;
}

.vote-percentage .voting-switches {
    margin-left: 2rem;
}

.vote-percentage {
    background: black;
}

.go-for-vote h2 {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #00c6fa;
}

.vertically-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-40%);
    left: 20%;
}

.switch-percentages .yes-switch {
    background: black;
}

.switch-percentages .play-switch h2 {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    margin: 0;
}

.switch-percentages .play-switch {
    border: 1px solid #039f0d;
    background: black;
    z-index: 1;
}

.switch-percentages .play-switch>div {
    padding: 18px 10px;
    border: 1px solid var(--green);
    border-radius: 50%;
}

.switch-percentages .text-switch {
    padding: 3.5px;
    border: 1px solid var(--green);
    font-size: 22px;
    background: rgba(3, 159, 13, 0.2);
}

.switch-percentages .text-switch>div {
    padding: 0.5rem 1.5rem 0.5rem 2rem;
    border-radius: 8px;
    border: 1px solid var(--green);
}

.switch-percentages .no-switch .text-switch>div {
    padding: 0.5rem 2rem 0.5rem 1.5rem;
}

.switch-percentages>div:first-child {
    margin-right: 0.7rem;
}

.switch-percentages>div:last-child {
    margin-left: 0.7rem;
}

.switch-percentages .no-switch .text-switch {
    background: rgba(255, 0, 0, 0.38);
    border-color: #f00;
}

.switch-percentages .no-switch .text-switch>div {
    border-color: #f00;
    color: var(--red);
}

.switch-percentages .no-switch .play-switch {
    border-color: var(--red);
}

.switch-percentages .no-switch .play-switch>div {
    border-color: var(--red);
}

.fill-go-for-vote {
    clip-path: polygon(0% 0%, 51% 0, 100% 50%, 54% 100%, 0% 100%);
    background: var(--primary);
}

.fill-go-for-vote h2 {
    color: black;
}